.rgconsole .gp {
   color: #26a269;
}

.rgconsole .go {
   color: white;
}

.rgconsole .nb {
    color: violet;
}

.rgconsole pre > code {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.rgsmall {
    font-size: small;
}

