fieldset {
    width:  90%;
    border-radius: 0.3em;
}
fieldset button, span.rg-qnum-span button {
    font-size: 0.8em;
    padding: 0.1em;
    border-radius: 0.3em; 
}
fieldset button.reset, span.rg-qnum-span button.reset {
    color: red;
}
fieldset button.validate, span.rg-qnum-span button.validate {
    color: green;
}

/* Style des boîtes de réponses */
.reponses li, .proposition {
    color:  #1a4473;
    background: #eee;
    box-shadow: 0 0.1em 0 #b1c5e0;
    border:  0.1em solid transparent;
    border-radius: 0.3em;    
    font-family: sans-serif;
}

.reponses li {
    list-style-type:  none;
    position:  relative;
    margin:  5px 50px;
    padding: 0.5em 2em 0.5em 2em;
}
.reponses li:hover, fieldset button:hover, .rg-qnum-span button:hover {
    background: #cee0f4;
}
.reponses li.correcte {
    background: #b6e4ce;
}
.reponses li.coche::before {
    content:  "✓";
    font-size:  2em;
    left:  0.2em; 
    bottom: -0.2em;
    position:  absolute;
}

/* Glisser-déposer */
.pile-propositions, .pile-emplacements {
    width:  45%;
    padding: .85em;
    margin:  0 auto;
}
.pile-propositions {
    float: left;
}

.pile-emplacements {
    float: right;
}

.proposition {
    text-align:  left;
    padding-left:  30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:  10px 0 0 10px;
}
.proposition:hover {
    cursor: grab;
}

.emplacement {
    border:  1px dashed;
    border-color:  #888;
    text-align: left;
    color: black;
    padding-left:  30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:  10px 0 0 10px;
    position: relative;
}

.proposition-depose {
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
    opacity: .9;
}
.proposition-depose:hover {
    opacity: 0.1;
}

.rg-qnum {
    border: 1px solid #a0a0a0;
    font-family: sans-serif;
    border-radius: 0.25em;
    font-size: 1em;
    padding: .1875em 1em .1875em .5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rg-qnum:focus {
    border-color: #7fb7ff;
    box-shadow: 0 0 0.5em 0 #7fb8ff;
}

.rg-qnum-span {
    display: inline-block;
}

.reponse-correcte {
    background-color: #b6e4ce;
    border: 3px solid #255c41;
}

.reponse-fausse {
    background-color: #fbd7d8;
    border: 3px solid #b71c1c;
}

.reponse-vide {
    background-color: transparent;
    border: 1px solid #a0a0a0;
}

.rgmodal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.rgmodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
}

.fermer {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.fermer:hover, .fermer:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
